{
  "openapi": "3.0.1",
  "info": {
    "title": "Homebot API",
    "description": "Homebot API for API use",
    "termsOfService": "http://homebot.ai/terms-of-service/",
    "contact": {
      "name": "API Support",
      "url": "http://www.homebot.ai/contact",
      "email": "support@homebot.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.homebotapp.com/"
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "Clients resource"
    },
    {
      "name": "Corporate Profiles"
    },
    {
      "name": "Customer Profiles"
    },
    {
      "name": "Homes",
      "description": "Homes resource"
    },
    {
      "name": "Impersonation"
    },
    {
      "name": "Insurance Agents"
    },
    {
      "name": "Loan Officers"
    },
    {
      "name": "Loans",
      "description": "Loans resource"
    },
    {
      "name": "Market Interests",
      "description": "Market Interests resource"
    },
    {
      "name": "Office Profiles"
    },
    {
      "name": "Real Estate Agents"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "WebhookClients"
    },
    {
      "name": "WebhookEvents"
    }
  ],
  "paths": {
    "/clients?filter[email]={email}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Filter Clients",
        "description": "Filters Clients by email.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Specific email to filter Clients by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Clients matching the provided filters",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "buyers-access": {
                              "type": "string",
                              "description": "Whether or not the client has activated the buying functionality"
                            },
                            "close-date": {
                              "type": "string",
                              "description": "Date the client would like to close on their new home (buyers only)"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "lead-source": {
                              "type": "string",
                              "description": "Source of client lead if applicable"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Preferred language for digest"
                            },
                            "mobile": {
                              "type": "string",
                              "description": "Mobile phone"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/clients/{client_id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Retrieve a Client",
        "description": "Retrieves the Client with the ID provided.",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with-auth-links",
            "in": "query",
            "description": "Whether an authenticated URI for this client's digest should be included in the response. If this parameter is present a link will be included in the response. See our [Best Practices](https://homebot-inc.stoplight.io/docs/open-api/branches/v1.0/twn7c1i5ytuhh-digest-uri-best-practices) on how to leverage this functionality.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Client",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "buyers-access": {
                              "type": "string",
                              "description": "Whether or not the client has activated the buying functionality"
                            },
                            "close-date": {
                              "type": "string",
                              "description": "Date the client would like to close on their new home (buyers only)"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "lead-source": {
                              "type": "string",
                              "description": "Source of client lead if applicable"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Preferred language for digest"
                            },
                            "mobile": {
                              "type": "string",
                              "description": "Mobile phone"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "digest-uri": {
                              "type": "string",
                              "description": "The full URI, including authentication token, to link to the user's digest. Only present when `with-auth-links` is present in the request.",
                              "x-stoplight": {
                                "id": "8f83q2ozhalqz"
                              }
                            }
                          },
                          "x-stoplight": {
                            "id": "dc7oxnwe7pnpy"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Delete a Client",
        "description": "Deletes the specified client.",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes the Client",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Client could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Clients"
        ],
        "summary": "Update a Client",
        "description": "Updates the specified Client with the attributes provided.",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID of the Client to be updated."
                      },
                      "type": {
                        "type": "string",
                        "description": "Should be set to `'clients'`",
                        "example": "clients"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "buyers-access": {
                            "type": "string",
                            "description": "Whether or not the client has activated the buying functionality"
                          },
                          "dob": {
                            "type": "string",
                            "description": "Date of birth"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address"
                          },
                          "first-name": {
                            "type": "string",
                            "description": "First name"
                          },
                          "last-name": {
                            "type": "string",
                            "description": "Last name",
                            "example": "Mulder"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Preferred language for digest"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Mobile phone"
                          },
                          "borrower-type": {
                            "type": "string",
                            "description": "The type of borrower, valid inputs are `borrower` and `coborrower`."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns the updated Client",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "buyers-access": {
                              "type": "string",
                              "description": "Whether or not the client has activated the buying functionality"
                            },
                            "close-date": {
                              "type": "string",
                              "description": "Date the client would like to close on their new home (buyers only)"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "lead-source": {
                              "type": "string",
                              "description": "Source of client lead if applicable"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Preferred language for digest"
                            },
                            "mobile": {
                              "type": "string",
                              "description": "Mobile phone"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Param not allowed",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Client could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/clients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create a Client",
        "description": "Creates a Client with the attributes provided.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Should be set to `'clients'`",
                        "example": "clients"
                      },
                      "attributes": {
                        "required": [
                          "email",
                          "first-name"
                        ],
                        "type": "object",
                        "properties": {
                          "buyers-access": {
                            "type": "boolean",
                            "description": "Whether or not the client has activated the buying functionality",
                            "example": true
                          },
                          "dob": {
                            "type": "string",
                            "description": "Date of birth",
                            "example": "1978-01-04T00:00:00.000Z"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address",
                            "example": "Al-Stokes5@email.com"
                          },
                          "first-name": {
                            "type": "string",
                            "description": "First name",
                            "example": "Al"
                          },
                          "last-name": {
                            "type": "string",
                            "description": "Last name",
                            "example": "Stokes"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Preferred language for digest",
                            "example": "es"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Mobile phone",
                            "example": "462-862-2934"
                          },
                          "borrower-type": {
                            "type": "string",
                            "description": "The type of borrower, valid inputs are `borrower` and `coborrower`.",
                            "example": "borrower"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns the created Client",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "buyers-access": {
                              "type": "string",
                              "description": "Whether or not the client has activated the buying functionality"
                            },
                            "close-date": {
                              "type": "string",
                              "description": "Date the client would like to close on their new home (buyers only)"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "lead-source": {
                              "type": "string",
                              "description": "Source of client lead if applicable"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Preferred language for digest"
                            },
                            "mobile": {
                              "type": "string",
                              "description": "Mobile phone"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Param not allowed",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/corporate-profiles": {
      "post": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Create a CorporateProfile",
        "description": "Creates the CorporateProfile with the attributes provided.\n\n***NOTE: This also creates an OfficeProfile that is tied to the new CorporateProfile record.***",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Should be set to `'corporate-profiles'`",
                        "example": "corporate-profiles"
                      },
                      "attributes": {
                        "required": [
                          "kind",
                          "name",
                          "phone"
                        ],
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Full address where the corporate profile is located",
                            "example": "21 Jump Street, Denver, CO 80202"
                          },
                          "avatar-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use as a smaller icon cropped as a circle",
                            "example": "https://unsplash.it/200"
                          },
                          "equal-housing-type": {
                            "type": "string",
                            "description": "Type of Equal Housing logo to display (e.g. 'lender', 'opportunity')",
                            "example": "opportunity"
                          },
                          "kind": {
                            "type": "string",
                            "description": "Type of corporate profile. Valid values are `mortgage_lending_company`, `real_estate_company`, and `insurance_company`",
                            "example": "mortgage_lending_company"
                          },
                          "logo-dark-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use on pages with a light background",
                            "example": "https://unsplash.it/300"
                          },
                          "logo-light-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use on pages with a dark background",
                            "example": "https://unsplash.it/300"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name",
                            "example": "Homebot Co."
                          },
                          "nmls": {
                            "type": "string",
                            "description": "NMLS ID. **Required if** 'kind' is 'mortgage_lending_company', otherwise must be blank.",
                            "example": "54321"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number (with +1 country code)",
                            "example": "303-555-0001"
                          },
                          "website": {
                            "type": "string",
                            "description": "URI for the corporate profile's official website",
                            "example": "https://homebot.example/"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns the created CorporateProfile",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "Full address where the corporate profile is located"
                            },
                            "avatar-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use as a smaller icon cropped as a circle"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "equal-housing-type": {
                              "type": "string",
                              "description": "Type of Equal Housing logo to display (e.g. 'lender', 'opportunity')"
                            },
                            "kind": {
                              "type": "string",
                              "description": "Type of corporate profile. Valid values are `mortgage_lending_company`, `real_estate_company`, and `insurance_company`"
                            },
                            "logo-dark-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a light background"
                            },
                            "logo-light-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a dark background"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "NMLS ID"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number (with +1 country code)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            },
                            "website": {
                              "type": "string",
                              "description": "URI for the corporate profile's official website"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Param not allowed",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/corporate-profiles/{corporate_profile_id}": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Retrieve a CorporateProfile",
        "description": "Retrieves the CorporateProfile with the ID provided",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CorporateProfile",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "Full address where the corporate profile is located"
                            },
                            "avatar-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use as a smaller icon cropped as a circle"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "equal-housing-type": {
                              "type": "string",
                              "description": "Type of Equal Housing logo to display (e.g. 'lender', 'opportunity')"
                            },
                            "kind": {
                              "type": "string",
                              "description": "Type of corporate profile. Valid values are `mortgage_lending_company`, `real_estate_company`, and `insurance_company`"
                            },
                            "logo-dark-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a light background"
                            },
                            "logo-light-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a dark background"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "NMLS ID"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number (with +1 country code)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            },
                            "website": {
                              "type": "string",
                              "description": "URI for the corporate profile's official website"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Update a CorporateProfile",
        "description": "Updates the specified CorporateProfile with the attributes provided",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID of the CorporateProfile to be updated."
                      },
                      "type": {
                        "type": "string",
                        "description": "Should be set to `'corporate-profiles'`",
                        "example": "corporate-profiles"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Full address where the corporate profile is located",
                            "example": "21 Jump Street, Denver, CO 80202"
                          },
                          "avatar-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use as a smaller icon cropped as a circle"
                          },
                          "equal-housing-type": {
                            "type": "string",
                            "description": "Type of Equal Housing logo to display (e.g. 'lender', 'opportunity')"
                          },
                          "kind": {
                            "type": "string",
                            "description": "Type of corporate profile. Valid values are `mortgage_lending_company`, `real_estate_company`, and `insurance_company`"
                          },
                          "logo-dark-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use on pages with a light background"
                          },
                          "logo-light-uri": {
                            "type": "string",
                            "description": "URI for the corporate profile's logo image for use on pages with a dark background"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name",
                            "example": "Sample Company"
                          },
                          "nmls": {
                            "type": "string",
                            "description": "NMLS ID. **Required if** 'kind' is 'mortgage_lending_company', otherwise must be blank.",
                            "example": "10001"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number (with +1 country code)",
                            "example": "303-555-0001"
                          },
                          "website": {
                            "type": "string",
                            "description": "URI for the corporate profile's official website",
                            "example": "https://homebot.example/"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Update a CorporateProfile",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "Full address where the corporate profile is located"
                            },
                            "avatar-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use as a smaller icon cropped as a circle"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "equal-housing-type": {
                              "type": "string",
                              "description": "Type of Equal Housing logo to display (e.g. 'lender', 'opportunity')"
                            },
                            "kind": {
                              "type": "string",
                              "description": "Type of corporate profile. Valid values are `mortgage_lending_company`, `real_estate_company`, and `insurance_company`"
                            },
                            "logo-dark-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a light background"
                            },
                            "logo-light-uri": {
                              "type": "string",
                              "description": "URI for the corporate profile's logo image for use on pages with a dark background"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "NMLS ID"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number (with +1 country code)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            },
                            "website": {
                              "type": "string",
                              "description": "URI for the corporate profile's official website"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Param not allowed",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/corporate-profiles/{corporate_profile_id}/office-profiles": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Retrieve a CorporateProfile's list of OfficeProfiles",
        "description": "Retrieves the OfficeProfiles belonging to the CorporateProfile provided",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a CorporateProfile's list of OfficeProfiles",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "description": "Street address where the office is located"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "City where the office is located"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State where the office is located"
                                },
                                "zip_code": {
                                  "type": "string",
                                  "description": "ZIP code where the office is located"
                                }
                              }
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "logo": {
                              "type": "string",
                              "description": "URI for the office profile's logo image"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "NMLS ID"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Office phone number (with +1 country code)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/corporate-profiles/{corporate_profile_id}/office-profiles?filter[name]={name}&filter[street]={street}&filter[city]={city}&filter[state]={state}&filter[zip]={zip}": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Filter a CorporateProfile's list of OfficeProfiles",
        "description": "Filters OfficeProfiles belonging to a given CorporateProfile by the filters provided.\n\nSupported filters include any and all of the following:\n* `filter[name]=`\n* `filter[street]=`\n* `filter[city]=`\n* `filter[state]=`\n* `filter[zip]=`",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "Street address where the office is located",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City where the office is located",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State where the office is located",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "description": "ZIP code where the office is located",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns OfficeProfiles matching the provided filters",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "description": "Street address where the office is located"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "City where the office is located"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "State where the office is located"
                                },
                                "zip_code": {
                                  "type": "string",
                                  "description": "ZIP code where the office is located"
                                }
                              }
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "logo": {
                              "type": "string",
                              "description": "URI for the office profile's logo image"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "NMLS ID"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Office phone number (with +1 country code)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/corporate-profiles/{corporate_profile_id}/clients?filter[email]={email}": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "List Clients",
        "description": "Fetch and filter clients for a given corporate profile",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Specific email to filter Clients by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Clients",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "buyers-access": {
                              "type": "string",
                              "description": "Whether or not the client has activated the buying functionality"
                            },
                            "close-date": {
                              "type": "string",
                              "description": "Date the client would like to close on their new home (buyers only)"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "lead-source": {
                              "type": "string",
                              "description": "Source of client lead if applicable"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Preferred language for digest"
                            },
                            "mobile": {
                              "type": "string",
                              "description": "Mobile phone"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/corporate-profiles/{corporate_profile_id}/customer-profiles": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "List CustomerProfiles",
        "description": "Retrieves all CustomerProfiles belonging to the CorporateProfile provided.\n\n---\n\n***NOTE: This endpoint requires company admin permissions***",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a CorporateProfile's list of CustomerProfiles",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "automate-buyer-digests": {
                              "type": "string",
                              "description": "Manages whether buyer digests will send at their regularly scheduled times (if buyers is enabled)"
                            },
                            "automate-home-digests": {
                              "type": "string",
                              "description": "Manages whether home digests will send at their regularly scheduled times"
                            },
                            "buyer-share-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's share page for buyers"
                            },
                            "buyers-count": {
                              "type": "integer",
                              "description": "Number of clients who are buyers belonging to the customer profile (includes homeowners who are also buyers)"
                            },
                            "clients-count": {
                              "type": "integer",
                              "description": "Number of clients associated to the customer's profile"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "enable-buyer-welcome-emails": {
                              "type": "string",
                              "description": "Manages whether welcome emails will be sent to new buyers"
                            },
                            "enable-home-market-emails": {
                              "type": "string",
                              "description": "Manages whether home market emails will be sent to homeowners"
                            },
                            "enable-welcome-emails": {
                              "type": "string",
                              "description": "Manages whether welcome emails will be sent to new homeowners"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "freemium-agents": {
                              "type": "string",
                              "description": "Whether the customer can invite agents to join on the Freemium plan"
                            },
                            "has-sponsor": {
                              "type": "string",
                              "description": "Whether the customer profile is sponsored by a loan officer"
                            },
                            "homes-count": {
                              "type": "integer",
                              "description": "Number of homes belonging to the customer profile"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "linkedin-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's Linkedin page"
                            },
                            "mobile-phone": {
                              "type": "string",
                              "description": "Mobile phone number (with +1 country code)"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "Customer's NMLS id"
                            },
                            "partner-count": {
                              "type": "integer",
                              "description": "Number of real estate agents and insurance agents who are sponsored by the customer"
                            },
                            "photo-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's profile photo"
                            },
                            "public-key": {
                              "type": "string",
                              "description": "Unique key for API use"
                            },
                            "share-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's share page for homeowners"
                            },
                            "slug": {
                              "type": "string",
                              "description": "The identifier used in the URL for the sponsorship invite pages (e.g. https://join.homebot.ai/sponsor/{slug})"
                            },
                            "standalone-buyers-count": {
                              "type": "integer",
                              "description": "Number of clients who are only buyers belonging to the customer profile"
                            },
                            "state": {
                              "type": "string",
                              "description": "State of the customer profile (e.g. 'onboarding', 'active', 'invited', 'archived')"
                            },
                            "state-license": {
                              "type": "string",
                              "description": "State license"
                            },
                            "title": {
                              "type": "string",
                              "description": "Preferred title (e.g. 'Your Mortgage Pro')"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            },
                            "website-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's business/personal website"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/corporate-profiles/{corporate_profile_id}/customer-profiles?filter[email]={email}": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Filter CustomerProfiles",
        "description": "Filters CustomerProfiles belonging to a given CorporateProfile by email.\n\n---\n\n***NOTE: This endpoint requires company admin permissions***",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Specific email to filter CustomerProfiles by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns CustomerProfiles matching the provided filters",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "automate-buyer-digests": {
                              "type": "string",
                              "description": "Manages whether buyer digests will send at their regularly scheduled times (if buyers is enabled)"
                            },
                            "automate-home-digests": {
                              "type": "string",
                              "description": "Manages whether home digests will send at their regularly scheduled times"
                            },
                            "buyer-share-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's share page for buyers"
                            },
                            "buyers-count": {
                              "type": "integer",
                              "description": "Number of clients who are buyers belonging to the customer profile (includes homeowners who are also buyers)"
                            },
                            "clients-count": {
                              "type": "integer",
                              "description": "Number of clients associated to the customer's profile"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was created"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address"
                            },
                            "enable-buyer-welcome-emails": {
                              "type": "string",
                              "description": "Manages whether welcome emails will be sent to new buyers"
                            },
                            "enable-home-market-emails": {
                              "type": "string",
                              "description": "Manages whether home market emails will be sent to homeowners"
                            },
                            "enable-welcome-emails": {
                              "type": "string",
                              "description": "Manages whether welcome emails will be sent to new homeowners"
                            },
                            "first-name": {
                              "type": "string",
                              "description": "First name"
                            },
                            "freemium-agents": {
                              "type": "string",
                              "description": "Whether the customer can invite agents to join on the Freemium plan"
                            },
                            "has-sponsor": {
                              "type": "string",
                              "description": "Whether the customer profile is sponsored by a loan officer"
                            },
                            "homes-count": {
                              "type": "integer",
                              "description": "Number of homes belonging to the customer profile"
                            },
                            "last-name": {
                              "type": "string",
                              "description": "Last name"
                            },
                            "linkedin-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's Linkedin page"
                            },
                            "mobile-phone": {
                              "type": "string",
                              "description": "Mobile phone number (with +1 country code)"
                            },
                            "nmls": {
                              "type": "string",
                              "description": "Customer's NMLS id"
                            },
                            "partner-count": {
                              "type": "integer",
                              "description": "Number of real estate agents and insurance agents who are sponsored by the customer"
                            },
                            "photo-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's profile photo"
                            },
                            "public-key": {
                              "type": "string",
                              "description": "Unique key for API use"
                            },
                            "share-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's share page for homeowners"
                            },
                            "slug": {
                              "type": "string",
                              "description": "The identifier used in the URL for the sponsorship invite pages (e.g. https://join.homebot.ai/sponsor/{slug})"
                            },
                            "standalone-buyers-count": {
                              "type": "integer",
                              "description": "Number of clients who are only buyers belonging to the customer profile"
                            },
                            "state": {
                              "type": "string",
                              "description": "State of the customer profile (e.g. 'onboarding', 'active', 'invited', 'archived')"
                            },
                            "state-license": {
                              "type": "string",
                              "description": "State license"
                            },
                            "title": {
                              "type": "string",
                              "description": "Preferred title (e.g. 'Your Mortgage Pro')"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the record was last updated"
                            },
                            "website-uri": {
                              "type": "string",
                              "description": "URI for the customer profile's business/personal website"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/corporate-profiles/{corporate_profile_id}/webhook-clients": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "List WebhookClients",
        "description": "Retrieves all WebhookClients belonging to the CorporateProfile provided.\n\n---\n\n***NOTE: This endpoint requires company admin permissions***",
        "parameters": [
          {
            "name": "corporate_profile_id",
            "in": "query",
            "description": "ID of the CorporateProfile to list webhook clients for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all WebhookClients",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The resource Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "auth-username": {
                              "type": "string",
                              "description": "Username for basic HTTP auth credentials when Homebot posts to your webhook listener URL"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the webhook client was created"
                            },
                            "event-sources-whitelist": {
                              "type": "string",
                              "description": "An optional array of event sources that determines which events will be sent. If no value is provided, all events will be sent. Valid values are: `buyer-digest`, `homebot-for-chrome`, `listings-bot`, `customer`, `email`, `home-digest`, `nest-ready-home-search`, `sms`, `system`, `ylopo`"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of webhook client (Useful to differentiate when user has multiple webhook clients)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the webhook client was last updated"
                            },
                            "url": {
                              "type": "string",
                              "description": "Full URL (e.g., https://example.com/homebot/callback) to which webhook events will be sent"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "text/html"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Create a WebhookClient",
        "description": "Creates a WebhookClient with the attributes provided for a given CorporateProfile.\n\n---\n\n***NOTE: This endpoint requires company admin permissions***",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "required": [
                  "corporate_profile_id"
                ],
                "type": "object",
                "properties": {
                  "corporate_profile_id": {
                    "type": "string",
                    "description": "ID of the CorporateProfile to which the WebhookClient belongs"
                  },
                  "data": {
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Should be set to `'webhook-clients'`",
                        "example": "webhook-clients"
                      },
                      "attributes": {
                        "required": [
                          "name",
                          "url"
                        ],
                        "type": "object",
                        "properties": {
                          "auth-password": {
                            "type": "string",
                            "description": "Password for basic HTTP auth credentials when Homebot posts to your Webhook listener URL",
                            "example": "87f64fee3530c47b9efd25cd884f8d31644125cb90ea47f3ba35fd2e8e931f7e"
                          },
                          "auth-username": {
                            "type": "string",
                            "description": "Username for basic HTTP auth credentials when Homebot posts to your webhook listener URL",
                            "example": "christia@hudsonhammes.info"
                          },
                          "event-sources-whitelist": {
                            "type": "string",
                            "description": "An optional array of event sources that determines which events will be sent. If no value is provided, all events will be sent. Valid values are: `buyer-digest`, `homebot-for-chrome`, `listings-bot`, `customer`, `email`, `home-digest`, `nest-ready-home-search`, `sms`, `system`, `ylopo`"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of webhook client (Useful to differentiate when user has multiple webhook clients)",
                            "example": "Bauch, Wolf and Barrows Webhook Receiver 1"
                          },
                          "url": {
                            "type": "string",
                            "description": "Full URL (e.g., https://example.com/homebot/callback) to which webhook events will be sent",
                            "example": "http://blanda.com/homebot/callback"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns the created WebhookClient",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of this record"
                        },
                        "type": {
                          "type": "string",
                          "description": "The resource Type of this record"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "auth-username": {
                              "type": "string",
                              "description": "Username for basic HTTP auth credentials when Homebot posts to your webhook listener URL"
                            },
                            "created-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the webhook client was created"
                            },
                            "event-sources-whitelist": {
                              "type": "string",
                              "description": "An optional array of event sources that determines which events will be sent. If no value is provided, all events will be sent. Valid values are: `buyer-digest`, `homebot-for-chrome`, `listings-bot`, `customer`, `email`, `home-digest`, `nest-ready-home-search`, `sms`, `system`, `ylopo`"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of webhook client (Useful to differentiate when user has multiple webhook clients)"
                            },
                            "updated-at": {
                              "type": "string",
                              "description": "Timestamp (UTC) when the webhook client was last updated"
                            },
                            "url": {
                              "type": "string",
                              "description": "Full URL (e.g., https://example.com/homebot/callback) to which webhook events will be sent"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform the requested operation",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "text/html"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "CorporateProfile could not be found",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "WebhookClient could not be created",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "x-example-value": "application/vnd.api+json"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/corporate-profiles/{corporate_profile_id}/webhook-clients/{id}": {
      "get": {
        "tags": [
          "Corporate Profiles"
        ],
        "summary": "Retrieve a WebhookClient",
[...]
